name: 'PR Title Lint'

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  semantic-pr-title:
    name: Semantic PR Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Validate Conventional PR Title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
