name: pr-title-lint

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  pull-requests: read

jobs:
  semantic-pr-title:
    name: Semantic PR Title
    runs-on: ubuntu-latest
    steps:
      - name: Validate Conventional PR Title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
